<footer>
    <div class="container">
        <div class="top flex justify-content-between">
            <div>
                <a href="" title="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
                <div class="contract">Contract: 0x0....abcd</div>
                <div class="email"><a href="mailto:info@deorbit.network">Email:  info@deorbit.network</a></div>
            </div>
            <div>
                <h4 class="text-lg">Quick Link</h4>
                <ul>
                    <li><a href="" title="Home">Home</a></li>
                    <li><a href="" title="Ecosystem">Ecosystem</a></li>
                    <li><a href="" title="Whitepaper">Whitepaper</a></li>
                    <li><a href="" title="Linktree">Linktree</a></li>
                </ul>
            </div>
            <div>
                <h4 class="text-lg">Social Network</h4>
                <div class="social flex">
                    <a href="" title="" class="telegram">Telegram</a>
                    <a href="" title="" class="x">X</a>
                    <a href="" title="" class="medium">medium</a>
                    <a href="" title="" class="dextools">dextools</a>
                </div>
            </div>
        </div>
        <div class="bottom flex justify-content-between">
            <div>
                <div class="copyright">© 2024 DeOrbit Network. All rights reserved.</div>
            </div>
            <div>
                <div class="flex-lc">
                    <span class="mr-2">A Product of</span>
                    <a href=""><img src="./assets/img/logo.svg" width="94" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>