<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
        <a href="/deorbit/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="/deorbit/build/home" title="Home">Home</a></li>
                <li><a href="" title="Ecosystem">Ecosystem</a></li>
                <li><a href="" title="Roadmap">Roadmap</a></li>
                <li><a href="" title="Whitepaper">Whitepaper</a></li>
            </ul>
            <div class="social flex">
                <a href="" title="" class="telegram">Telegram</a>
                <a href="" title="" class="x">X</a>
                <a href="" title="" class="medium">medium</a>
                <a href="" title="" class="dextools">dextools</a>
            </div>
            <a href="" title="" class="btn-pr">Launch dApp <i class="icon arrow-right"></i></a>
        </div>
    </nav>
</header>
