<main>
    <div class="category">
        <div class="flex align-items-start justify-content-between pt-5">
            <div class="sidebar">
                <div class="accordion">
                    <div class="item">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/security.svg" alt=""></div>
                            <div class="name text-lg">DeVPN</div>
                            <div class="icon arrow-down"></div>
                        </div>
                        <ul class="text-md">
                            <li><a href="" title="">Download App</a></li>
                            <li><a href="" title="">Stake To Use</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/format-circle.svg" alt=""></div>
                            <div class="name text-lg">DeNHS</div>
                        </div>
                    </div>
                    <div class="item coming-soon">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/driver.svg" alt=""></div>
                            <div class="name text-lg">DeVPS</div>
                            <div class="status">Coming Soon</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-right">
                <div class="denhs">
                    <h2 class="title" data-aos="fade-up">Available Nodes For Setting Up</h2>
                    <div class="des text-xl" data-aos="fade-up" data-aos-delay="200">Streamlined decentralized node hosting service.</div>
                    <div class="nodes flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="item">
                            <div class="content text-center">
                                <div class="logo"><img src="./assets/img/flux-logo.svg" alt=""></div>
                                <h4 class="name text-lg">FLUX</h4>
                                <p>A People-Powered Network to help you build applications with increased flexibility and censorship resistance</p>
                                <span class="coming-soon flex-center">Coming Soon</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content text-center">
                                <div class="logo"><img src="./assets/img/neoxa-logo.svg" alt=""></div>
                                <h4 class="name text-lg">NEOXA</h4>
                                <p>An innovative Proof of Work cryptocurrency that seamlessly merges the realms of gaming and cryptocurrency</p>
                                <span class="coming-soon flex-center">Coming Soon</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content text-center">
                                <div class="logo"><img src="./assets/img/streamr-logo.svg" alt=""></div>
                                <h4 class="name text-lg">STREAMR</h4>
                                <p>Streamr hyperscales live data for AI, video, and DePIN via secure P2P distribution</p>
                                <span class="coming-soon flex-center">Coming Soon</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content text-center">
                                <div class="logo"><img src="./assets/img/xai-logo.svg" alt=""></div>
                                <h4 class="name text-lg">XAI</h4>
                                <p>Blockchain gaming developed for mass adoption. Xai is built to enable open trade in the next generation of video games.</p>
                                <span class="coming-soon flex-center">Coming Soon</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content text-center">
                                <div class="logo"><img src="./assets/img/blocx-logo.svg" alt=""></div>
                                <h4 class="name text-lg">BLOCX</h4>
                                <p>Comprehensive all-in-one computer manager designed to meet your diverse needs while prioritizing security and efficiency.</p>
                                <span class="coming-soon flex-center">Coming Soon</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>