<main>
    <div class="category">
        <div class="flex align-items-start justify-content-between pt-5">
            <div class="sidebar">
                <div class="accordion">
                    <div class="item">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/security.svg" alt=""></div>
                            <div class="name text-lg">DeVPN</div>
                            <div class="icon arrow-down"></div>
                        </div>
                        <ul class="text-md">
                            <li><a href="" title="">Download App</a></li>
                            <li><a href="" title="">Stake To Use</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/format-circle.svg" alt=""></div>
                            <div class="name text-lg">DeNHS</div>
                        </div>
                    </div>
                    <div class="item coming-soon">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/driver.svg" alt=""></div>
                            <div class="name text-lg">DeVPS</div>
                            <div class="status">Coming Soon</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-right">
                <div class="devpn-s1">
                    <h2 class="title" data-aos="fade-up">The Next Generation of Decentralized VPN</h2>
                    <div class="des text-xl" data-aos="fade-up" data-aos-delay="200">Safeguarding sensitive data and ensuring online privacy.</div>
                    <div class="img-wrapper flex-center">
                        <img src="./assets/img/iphone-1.png" data-aos="zoom-in" data-aos-delay="400" alt="">
                    </div>
                </div>
                <div class="devpn-s2">
                    <h2 class="title">Download App</h2>
                    <div class="des text-md">Achieve unparalleled privacy, security, and anonymity on all your devices with DeObit VPN, offering top-tier protection without compromising on bandwidth or speed.</div>
                    <div class="dowload flex" data-aos="fade-up">
                        <div class="item">
                            <div class="icon"><img src="./assets/img/windows.svg" alt=""></div>
                            <div class="name txt-lg">Window</div>
                            <a href="" title="" class="btn-download flex-center"><span>Download</span></a>
                        </div>
                        <div class="item">
                            <div class="icon"><img src="./assets/img/macos.svg" alt=""></div>
                            <div class="name txt-lg">MacOS</div>
                            <a href="" title="" class="btn-download flex-center"><span>Download</span></a>
                        </div>
                        <div class="item">
                            <div class="icon"><img src="./assets/img/ios.svg" alt=""></div>
                            <div class="name txt-lg">iOS</div>
                            <a href="" title="" class="btn-download flex-center"><span>Download</span></a>
                        </div>
                        <div class="item">
                            <div class="icon"><img src="./assets/img/windows-1.svg" alt=""></div>
                            <div class="name txt-lg">Android</div>
                            <a href="" title="" class="btn-download flex-center"><span>Download</span></a>
                        </div>
                    </div>
                    <a href="" title="" class="btn-stake text-md flex-center" data-aos="fade-up">Stake To Use</a>
                </div>
                <div class="devpn-s3">
                    <div class="country">
                        <div class="grid">
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-united-state.svg" alt=""></div>
                                <div class="name">United State</div>
                                <div class="status flex-center">Online</div>
                            </div>
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-canada.svg" alt=""></div>
                                <div class="name">Canada</div>
                                <div class="status flex-center">Online</div>
                            </div>
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-australia.svg" alt=""></div>
                                <div class="name">Australia</div>
                                <div class="status flex-center">Online</div>
                            </div>
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-united-kingdom.svg" alt=""></div>
                                <div class="name">United Kingdom</div>
                                <div class="status flex-center">Online</div>
                            </div>
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-netherlands.svg" alt=""></div>
                                <div class="name">Netherlands</div>
                                <div class="status flex-center">Online</div>
                            </div>
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-germany.svg" alt=""></div>
                                <div class="name">Germany</div>
                                <div class="status flex-center">Online</div>
                            </div>
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-singapore.svg" alt=""></div>
                                <div class="name">Singapore</div>
                                <div class="status flex-center">Online</div>
                            </div>
                            <div class="item flex-lc">
                                <div class="flag"><img src="./assets/img/flag-india.svg" alt=""></div>
                                <div class="name">India</div>
                                <div class="status flex-center">Online</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="devpn-s4">
                    <h2 class="title">How to set up and use DeVPN application</h2>
                    <div class="box-grid">
                        <div class="grid">
                            <div class="item">
                                <div class="img-wrapper"><img src="./assets/img/setup-1.png" alt=""></div>
                                <div class="step pr"><span>1</span></div>
                                <h4>Stake $DEORBIT & Receive Code</h4>
                                <p class="text-md">Leverage the Deflationary Stake Feature by staking $DeOrbit tokens to receive a code that grants access to our VPN service</p>
                            </div>
                            <div class="item">
                                <div class="img-wrapper"><img src="./assets/img/setup-2.png" alt=""></div>
                                <div class="step pr"><span>2</span></div>
                                <h4>Download & Install App</h4>
                                <p class="text-md">Download and Install the DeVPN application compatible with your devices</p>
                            </div>
                            <div class="item">
                                <div class="img-wrapper"><img src="./assets/img/setup-3.png" alt=""></div>
                                <div class="step pr"><span>3</span></div>
                                <h4>Log In & Connect</h4>
                                <p class="text-md">Log in and Enter the code to start accessing our DeVPN service and begin your journey today!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>