<main>
    <div class="deorbit-s1 pr">
        <img src="./assets/img/image7.png" class="bg" alt="">
        <div class="content">
            <h1 data-aos="fade-up">DeOrbit Network</h1>
            <p class="text-xl" data-aos="fade-up" data-aos-delay="200">Pioneering The Evolution Of Decentralized Digital Infrastructure</p>
            <a href="" title="" class="btn-pr lg" data-aos="fade-up" data-aos-delay="400">Learn More <i class="icon arrow-right"></i></a>
        </div>
        <div class="box-video">
            <video muted loop autoplay playsinline>
                <source src="./assets/img/shutterstock_violet.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="deorbit-s2 pr">
        <div class="container">
            <h2 class="title">DeOrbit Ecosystem</h2>
            <div class="grid">
                <div class="item" data-aos="fade-up">
                    <div class="img-wrapper"><img src="./assets/img/devpn.svg" alt=""></div>
                    <div class="content">
                        <h3>DeVPN</h3>
                        <div class="des text-lg">Decentralized VPN framework providing secure, private, and uncensored internet access, safeguarding sensitive data and ensuring online privacy.</div>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="img-wrapper"><img src="./assets/img/devps.svg" alt=""></div>
                    <div class="content">
                        <h3>DeVPS</h3>
                        <div class="des text-lg">Decentralized Virtual Private Server offering resilient, scalable computing resources, ensuring operational autonomy with enhanced privacy and security for your digital projects.</div>
                    </div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <div class="img-wrapper"><img src="./assets/img/denhs.svg" alt=""></div>
                    <div class="content">
                        <h3>DeNHS</h3>
                        <div class="des text-lg">Streamlined decentralized node hosting service offers global, dedicated server support for seamless web3 participation, ensuring continuous contributions to the digital ecosystem.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="deorbit-s3">
        <div class="box-video">
            <video muted loop autoplay playsinline>
                <source src="./assets/img/flag-animation.mp4" type="video/mp4">
            </video>
        </div>
        <h2 class="title" data-aos="fade-up">Deflationary Staking Mechanism</h2>
        <div class="quote pr" data-aos="fade-up">
            <div class="line line--1"></div>
            <div class="content">
                DeOrbit Network stands out as the first protocol to introduce a deflationary staking mechanism. To access DeOrbit's services, users are required to stake a certain amount of $DEORBIT tokens. The cost of these services is gradually deducted from the staked amount. Notably, while there are no penalties or vesting conditions imposed on unstaking, it's crucial to note that unstaking will result in the termination of access to the services.
            </div>
            <div class="line line--2"></div>
        </div>
    </div>
    <div class="deorbit-s4 pr">
        <div class="container">
            <div class="item flex-lc">
                <div class="content">
                    <h3>Vision</h3>
                    <p class="text-lg">
                        DeOrbit Network aspires to transform the digital landscape with decentralized solutions that offer unparalleled privacy, security, and user empowerment. Through innovations like DeVPN, DeVPS, and DeNHS, we aim to grant every individual control over their digital presence, fostering a more secure and accessible online world.
                    </p>
                </div>
                <div class="media">
                    <img src="./assets/img/vision.png" alt="">
                </div>
            </div>
            <div class="item flex-lc">
                <div class="media">
                    <img src="./assets/img/mission.svg" alt="">
                </div>
                <div class="content">
                    <h3>Mission</h3>
                    <p class="text-lg">DeOrbit Network is dedicated to delivering decentralized digital infrastructure solutions, ensuring users worldwide can navigate, host, and engage with the web securely and privately. Our mission revolves around breaking down the barriers of digital access and privacy, empowering communities with the tools for a liberated and inclusive digital future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="deorbit-s5">
        <div class="container">
            <div class="content">
                <h2 class="title">Why DeOrbit ?</h2>
                <div class="des text-lg">Revolutionizing digital infrastructure with a suite of decentralized services, including DeVPN, DeVPS, and DeNHS solutions. Empowering users with unparalleled privacy, security, and freedom across the web, DeOrbit Network ensures total control over your digital footprint while fostering a new standard in internet accessibility and data sovereignty.</div>
                <div class="box-map pr">
                    <img src="./assets/img/map.png" class="bg" alt="">
                    <div class="map-content">
                        <div class="canada" data-aos="fade-up">
                            <div class="map"><img src="./assets/img/map-canada.svg" alt=""></div>
                            <div class="flag">
                                <img src="./assets/img/canada.svg" alt="">
                                <div class="circles">
                                    <div class="circle1"></div>
                                    <div class="circle2"></div>
                                    <div class="circle3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="united" data-aos="fade-up" data-aos-delay="200">
                            <div class="map"><img src="./assets/img/map-united.svg" alt=""></div>
                            <div class="flag">
                                <img src="./assets/img/united.svg" alt="">
                                <div class="circles">
                                    <div class="circle1"></div>
                                    <div class="circle2"></div>
                                    <div class="circle3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="united1" data-aos="fade-up">
                            <div class="map"><img src="./assets/img/map-united.svg" alt=""></div>
                            <div class="flag">
                                <img src="./assets/img/united-states.svg" alt="">
                                <div class="circles">
                                    <div class="circle1"></div>
                                    <div class="circle2"></div>
                                    <div class="circle3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="united-kingdom" data-aos="fade-up">
                            <div class="map"><img src="./assets/img/map-kingdom.svg" alt=""></div>
                            <div class="flag">
                                <img src="./assets/img/united-kingdom.svg" alt="">
                                <div class="circles">
                                    <div class="circle1"></div>
                                    <div class="circle2"></div>
                                    <div class="circle3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="australia" data-aos="fade-up">
                            <div class="map"><img src="./assets/img/map-australia.svg" alt=""></div>
                            <div class="flag">
                                <img src="./assets/img/australia.svg" alt="">
                                <div class="circles">
                                    <div class="circle1"></div>
                                    <div class="circle2"></div>
                                    <div class="circle3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="deorbit-s6">
        <div class="container">
            <h2 class="title">DeOrbit Roadmap</h2>
            <div class="bar-progress pr">
                <div class="progress"><div class="value" style="width: 50%"></div></div>
                <ul class="flex">
                    <li><span></span></li>
                    <li class="active"><span></span></li>
                    <li><span></span></li>
                </ul>
            </div>
            <div class="roadmap grid">
                <div class="item" data-aos="fade-up">
                    <div class="header text-center">
                        <h3>Phase 1</h3>
                        <p>Development and Foundation Setting</p>
                    </div>
                    <ul class="text-md">
                        <li class="yes">
                            <p>Core Infrastructure Development</p>
                        </li>
                        <li class="yes">
                            <p>Establish a decentralized framework for DeVPN and DeVPS protocols</p>
                        </li>
                        <li class="yes">
                            <p>Build the initial decentralized node hosting service (DeNHS) infrastructure</p>
                        </li>
                        <li class="yes">
                            <p>Develop cross-platform applications</p>
                        </li>
                    </ul>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="header text-center">
                        <h3>Phase 2</h3>
                        <p>Launch and Community Engagement</p>
                    </div>
                    <ul class="text-md">
                        <li class="yes">
                            <p>Launch $DEORBIT token</p>
                        </li>
                        <li class="yes">
                            <p>Launch DeVPN - Decentralized Virtual Private Network</p>
                        </li>
                        <li>
                            <p>Platform Security Audits</p>
                        </li>
                        <li>
                            <p>Launch DeVPS - Decentralized Virtual Private Servers</p>
                        </li>
                        <li>
                            <p>Launch DeNHS - Decentralized Node Hosting Service</p>
                        </li>
                    </ul>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <div class="header text-center">
                        <h3>Phase 3</h3>
                        <p>Scalability and Ecosystem Expansion</p>
                    </div>
                    <ul class="text-md">
                        <li>
                            <p>Major CEX Listing</p>
                        </li>
                        <li>
                            <p>Launch more supported nodes on DeNHS</p>
                        </li>
                        <li>
                            <p>Expand the global reach of server and node coverage</p>
                        </li>
                        <li>
                            <p>Ensure optimal network efficiency and user experience</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="deorbit-s7">
        <div class="container">
            <div class="content pr">
                <h2>DeOrbit Network</h2>
                <p class="text-md">Take control of your online privacy and security while supporting a decentralized network. Join us in shaping the future of internet freedom. Try our dApp now and be a part of the decentralized revolution!</p>
                <button href="" title="" class="btn-pr lg">Launch App <i class="icon arrow-right"></i></button>
                <video muted loop autoplay playsinline>
                    <source src="./assets/img/shutterstock_3.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</main>