<main>
    <div class="category">
        <div class="flex align-items-start justify-content-between pt-5">
            <div class="sidebar">
                <div class="accordion">
                    <div class="item">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/security.svg" alt=""></div>
                            <div class="name text-lg">DeVPN</div>
                            <div class="icon arrow-down"></div>
                        </div>
                        <ul class="text-md">
                            <li><a href="" title="">Download App</a></li>
                            <li><a href="" title="">Stake To Use</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/format-circle.svg" alt=""></div>
                            <div class="name text-lg">DeNHS</div>
                        </div>
                    </div>
                    <div class="item coming-soon">
                        <div class="flex-lc header">
                            <div class="icon"><img src="./assets/img/driver.svg" alt=""></div>
                            <div class="name text-lg">DeVPS</div>
                            <div class="status">Coming Soon</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-right">
                <div class="flex align-items-start">
                    <div class="stake">
                        <h2 class="title">Deflationary Stake</h2>
                        <ul class="tab nav">
                            <li><a href="#stake" title="" data-toggle="tab" class="active">Stake</a></li>
                            <li><a href="#unstake" title="" data-toggle="tab">Unstake</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="stake" class="tab-pane fade show active">
                                <form action="" method="">
                                    <div class="form-group flex-lc">
                                        <label class="text-md">Staked Amount:</label>
                                        <input type="text" name="" value="0">
                                        <img src="./assets/img/currency.svg" class="rurrency" alt="">
                                    </div>
                                    <div class="form-group flex-lc">
                                        <label class="text-md">Current Balance:</label>
                                        <input type="text" name="" value="0">
                                        <img src="./assets/img/currency.svg" class="rurrency" alt="">
                                    </div>
                                    <div class="form-group flex-lc">
                                        <label class="text-md">Required Amount:</label>
                                        <input type="text" name="" value="5000">
                                        <img src="./assets/img/currency.svg" class="rurrency" alt="">
                                    </div>
                                    <button type="button" class="btn-stake text-md flex-center mt-4">Stake</button>
                                </form>
                            </div>
                            <div id="unstake" class="tab-pane fade">
                                <form action="" method="">
                                    <div class="form-group flex-lc">
                                        <label class="text-md">Staked Amount:</label>
                                        <input type="text" name="" value="0">
                                        <img src="./assets/img/currency.svg" class="rurrency" alt="">
                                    </div>
                                    <div class="form-group flex-lc">
                                        <label class="text-md">Deducted Fee:</label>
                                        <input type="text" name="" value="0">
                                        <img src="./assets/img/currency.svg" class="rurrency" alt="">
                                    </div>
                                    <div class="form-group flex-lc">
                                        <label class="text-md">Remaining Amount:</label>
                                        <input type="text" name="" value="5000">
                                        <img src="./assets/img/currency.svg" class="rurrency" alt="">
                                    </div>
                                    <button type="button" class="btn-unstake text-md flex-center mt-4">Unstake</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="package-info">
                        <h4>Your DeOrbit Network VPN Package offers:</h4>
                        <ul class="text-md">
                            <li class="yes">Enjoy premium VPN speed</li>
                            <li class="yes">Universal compatibility with all devices</li>
                            <li class="yes">Seamless streaming with advanced speed features</li>
                            <li class="yes">Unlimited access to streaming platforms' content</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>