:root{
  --ClashDisplayRegular: ClashDisplayRegular, sans-serif;
  --ClashDisplayMedium: ClashDisplayMedium, sans-serif;
  --gray: #888D9A;
}
body{
  background: #0F0F11;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.home{
  background: #08010b;
  header::after{background: linear-gradient(180deg, #08010b 61.53%, rgba(15, 15, 17, 0) 100%);}
  footer{background: #08010b;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
body.modal-open{overflow: hidden;}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s; color: #000;}
a:hover{text-decoration: none;}

@font-face {
  font-family: ClashDisplayRegular;
  src: url('#{$font-path}/ClashDisplayRegular.otf');
}

@font-face {
  font-family: ClashDisplayMedium;
  src: url('#{$font-path}/ClashDisplayMedium.otf');
}

//header
header{
  width: 100%; padding: 28px 0;
  position: fixed; z-index: 9; transition: .5s;
  &::after{
    content: "";
    width: 100%; height: 100px;
    background: linear-gradient(180deg, #0e0e10 61.53%, rgba(15, 15, 17, 0.00) 100%);
    position: absolute; top: 0; z-index: -1;
  }
  &.scroll{padding: 12px 0; box-shadow: 0 2px 4px rgba(#000,.18);}
  .social{
    margin-left: auto;
  }
  .navbar-toggle{display: none;}
  .btn-pr{margin-left: vw(44px);}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 0 vw(100px);
  border-radius: 0; border: none;
  .logo{width: 144px; z-index: 99;}
}
.navbar-collapse{padding: 0; justify-content: flex-start;}
.navbar-nav{
  margin: 0 0 0 vw(180px); align-items: center;
  >*+*{margin-left: vw(96px);}
  > li{display: flex; align-items: center;}
  > li > a{display: block; font: 16px/24px var(--ClashDisplayRegular); color: #888D9A; position: relative;}
  a:hover,.active{color: #fff;}
  .active::after{
    content: "";
    width: 90%; height: 2px; background: #fff;
    position: absolute; bottom: -6px; left: 0;
  }
}


//home
main{min-height: 78vh; padding-top: 100px;}
.deorbit-s1{
  margin-top: -40px;
  &::after{
    content: "";
    width: 100%; height: 1024px; display: none;
    background: url("#{$img-path}/bg-1.svg") no-repeat top center/contain;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
  .box-video{
    width: 100%; height: 105%; position: absolute; top: 0; left: 0;
    video{width: 100%; height: 100%; object-fit: cover;}
  }
  img.bg{mix-blend-mode: screen;}
  .content{
    width: 100%; height: 100%; padding-top: vw(200px);
    position: absolute; top: 0; left: 0; text-align: center; z-index: 2;
  }
  h1{margin-bottom: 12px; color: #fff; font: 72px/116px var(--ClashDisplayMedium);}
  p{max-width: 427px; margin: 0 auto; color: var(--gray); font-family: var(--ClashDisplayRegular);}
  .btn-pr{width: 200px; height: 50px; margin: 28px auto 0; border-radius: 20px;}
}
.deorbit-s2{
  padding: 15px 0 62px;
  .title{margin-bottom: 68px;}
  .grid{grid-template-columns: repeat(3,minmax(auto,361px)); grid-gap: 22px; justify-content: center;}
  .item{
    border-radius: 49px;
    border: 1px solid #323232;
    transition: .4s;
    &:nth-child(1):hover{
      background: radial-gradient(96.79% 75.44% at -5.88% 105.41%, rgba(159, 32, 204, 0.75) 0%, rgba(213, 107, 251, 0.00) 100%);
      backdrop-filter: blur(17.223468780517578px);
    }
    &:nth-child(2):hover{
      background: radial-gradient(96.79% 75.44% at -5.88% 105.41%, rgba(31, 216, 241, 0.75) 0%, rgba(31, 216, 241, 0.00) 100%), linear-gradient(46deg, rgba(255, 255, 255, 0.05) -9.46%, rgba(255, 255, 255, 0.00) 50.97%);
      backdrop-filter: blur(17.223468780517578px);
    }
    &:nth-child(3):hover{
      background: radial-gradient(96.79% 75.44% at -5.88% 105.41%, rgba(255, 197, 47, 0.75) 0%, rgba(255, 175, 52, 0.00) 100%), linear-gradient(46deg, rgba(255, 255, 255, 0.05) -9.46%, rgba(255, 255, 255, 0.00) 50.97%);
      backdrop-filter: blur(17.223468780517578px);
    }
  }
  .item:nth-child(1) img{animation: light 1s infinite linear;}
  .item:nth-child(2) img{animation: light .5s infinite linear;}
  .item:nth-child(3) img{animation: pulse 2s infinite linear;}
  .img-wrapper img{margin-left: auto;}
  .content{padding: 24px 44px 76px;}
  h3{font: 32px/48px var(--ClashDisplayMedium); margin-bottom: 32px;}
  .des{color: rgba(#fff,.5);}
}
.deorbit-s3{
  padding-bottom: 46px;
  .box-img{
    width: vw(1780px); height: vw(676px); margin: 0 auto vw(-100px);
    background: url("#{$img-path}/bg-ellipse.svg") no-repeat 0 0/contain;
    padding-bottom: vw(50px);
    img{width: vw(488px); mix-blend-mode: screen; z-index: -1;}
    video{width: vw(688px); object-fit: cover; mix-blend-mode: screen; z-index: -1;}
  }
  .box-video{
    width: 100%; max-width: 1042px; margin: 0 auto;
    video{width: 100%; height: 100%; object-fit: cover;}
  }
  .title{margin: vw(60px) 0 vw(86px);}
  .quote{
    max-width: 874px; margin: 0 auto;
    &::before,&::after{
      content: "";
      width: 126px; height: 116px;
      background: url("#{$img-path}/quote.svg") no-repeat 0 0/contain;
      position: absolute; z-index: -1;
    }
    &::before{top: -30px; left: -73px;}
    &::after{bottom: -42px; right: -9px; transform: rotateY(180deg);}
    .line{
      height: 1px; width: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 24.23%, rgba(255, 255, 255, 0.20) 72.53%, rgba(255, 255, 255, 0.01) 100%);
      position: relative;
    }
    .line--1{margin-left: 46px;}
    .line--2{margin-left: -90px;}
    .line--1::after{
      content: "";
      width: 132px; height: 32px;
      background: url("#{$img-path}/light-1.svg") no-repeat 0 0/contain;
      position: absolute; top: -15px; left: 45px;
    }
    .line--2::after{
      content: "";
      width: 132px; height: 32px;
      background: url("#{$img-path}/light-2.svg") no-repeat 0 0/contain;
      position: absolute; top: -16px; left: 468px;
    }
    .content{padding: vw(32px) 0; font-size: 20px; line-height: 32px; text-align: center;}
  }
}
.deorbit-s4{
  padding: 140px 0 32px;
  &::after{
    content: "";
    width: 1312px; height: 1312px;
    background: url("#{$img-path}/ellipse-2.png") no-repeat 0 0/contain;
    position: absolute; top: 9%; left: 48.5%; transform: translateX(-50%); z-index: -1;
  }
  .content{width: 562px;}
  .item{flex-wrap: nowrap; justify-content: center;}
  .item:nth-child(2){
    margin-top: -75px;
    .media{margin: 0 vw(80px) 0 vw(-76px)}
  }
  h3{margin-bottom: 20px; font: 52px/76px var(--ClashDisplayMedium); color: #fff;}
  p{color: var(--gray);}
}
.deorbit-s5{
  .title{margin-bottom: 44px;}
  .des{max-width: 856px; margin: 0 auto 72px; color: var(--gray); text-align: center;}
  .content{
    padding: 92px 15px 122px;
    border-radius: 100px;
    border: 0.7px solid #61606D;
    background: linear-gradient(314deg, rgba(255, 255, 255, 0.05) 0%, rgba(17, 17, 19, 0.05) 32.15%, rgba(17, 17, 19, 0.05) 71%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(20.950000762939453px);
  }
  .box-map{
    max-width: 1090px; margin: 0 auto;
    .map-content{
      width: 100%; height: 100%; position: absolute; top: 0; left: 0;
      > div{position: absolute;}
      > div:hover .map{opacity: 1;}
      .flag{position: absolute;}
      .map{opacity: 0; transition: .3s; cursor: pointer;}
      .canada{
        width: 269px; left: 86px; top: 108px; z-index: 2;
        .flag{top: -80px; left: 164px;}
      }
      .united{
        width: 311px; left: 0; top: 280px;
        .flag{top: -150px; left: 30px;}
      }
      .united1{
        width: 311px; left: 0; top: 280px;
        .flag{top: 190px; left: 144px;}
        .circles{top: 160px;}
      }
      .united-kingdom{
        width: 31px; left: 488px; top: 362px;
        .flag{width: 148px; top: -86px; left: -10px;}
      }
      .australia{
        width: 141px; right: 97px; top: 623px;
        .flag{width: 108px; top: -72px; left: 52px;}
      }
    }
  }
}
.deorbit-s6{
  padding: 76px 0 96px;
  .title{margin-bottom: 82px;}
  .header{
    margin-bottom: 20px;
    p{font: 20px/32px var(--ClashDisplayMedium);}
    h3{font: 40px/64px var(--ClashDisplayMedium);}
  }
  .bar-progress{
    width: 1000px; max-width: 80%; margin: 0 auto 40px;
    .progress{
      width: 100%; height: 1px;
      background: #61606D;
    }
    .value{height: 1px; position: absolute; background: #fff; top: 0; left: 0;}
    ul{width: 100%; justify-content: space-between;}
    .active span::after{
      content: "";
      width: 34px; height: 34px;
      background: url("#{$img-path}/dot.svg") no-repeat;
      position: absolute; top: -10px; left: -10px;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.00);
    }
    span{width: 14px; height: 14px; display: block; margin-top: -7px; background: #fff; border-radius: 50%; position: relative;}
  }
}
.deorbit-s7{
  margin-bottom: 100px;
  .content{
    width: 100%; height: 420px;
    padding: 88px 122px;
    border-radius: 71px;
    border: 0.7px solid #61606D;
    overflow: hidden;
  }
  video{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; z-index: -1;}
  h2{font: 40px/64px var(--ClashDisplayMedium); margin-bottom: 18px;}
  p{max-width: 601px; color: var(--gray);}
  .btn-pr{margin-top: 40px;}
}
.roadmap{
  grid-template-columns: repeat(3,1fr); grid-gap: 100px;
  ul{
    li{padding: 24px 0; position: relative; color: rgba(#888D9A,.5);}
    .yes{padding-right: 44px; background: url("#{$img-path}/on.svg") no-repeat right center; color: var(--gray);}
    li::after{
      content: "";
      width: 100%; height: 1px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 24.23%, rgba(255, 255, 255, 0.20) 72.53%, rgba(255, 255, 255, 0.01) 100%);
      position: absolute; bottom: 0; left: 0;
    }
  }
}

//category
.category{
  padding: 0 vw(100px);
  &::after{
    content: "";
    width: 100%; height: 1024px;
    background: url("#{$img-path}/bg-1.svg") no-repeat top center/contain;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
}
.sidebar{
  width: 300px; min-height: 572px;
  padding: 10px 24px;
  border-radius: 32px;
  border: 0.7px solid #61606D;
  background: linear-gradient(314deg, rgba(255, 255, 255, 0.05) 0%, rgba(17, 17, 19, 0.05) 32.15%, rgba(17, 17, 19, 0.05) 71%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(20.950000762939453px);
  .accordion{
    >*+*::before{
      content: "";
      width: 100%; height: 1px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 24.23%, rgba(255, 255, 255, 0.20) 72.53%, rgba(255, 255, 255, 0.01) 100%);
      position: absolute; top: 0;
    }
    ul{margin-top: 20px;}
    .item{padding: 20px 8px; position: relative;}
  }
  .icon{margin-right: 14px;}
  .name{color: #fff; font-family: var(--ClashDisplayMedium);}
  .arrow-down{
    width: 20px; height: 20px;
    background: url("#{$img-path}/arrow-down.svg") no-repeat;
    margin: 0 0 0 auto;
  }
  ul{
    padding-left: 32px;
    >*+*{margin-top: 18px;}
    li{position: relative; padding-left: 16px;}
    li::before{
      content: "";
      width: 4px; height: 4px; background: #fff; border-radius: 50%;
      position: absolute; left: 0; top: 9px;
    }
    li a{color: var(--gray);}
  }
  .status{
    margin-left: auto;
    padding: 0 14px;
    border-radius: 32px;
    border: 0.7px solid rgba(143, 103, 255, 0.67);
    background: linear-gradient(102deg, rgba(109, 57, 255, 0.51) 2.9%, rgba(109, 57, 255, 0.21) 71.74%);
    font-size: 12px; line-height: 20px;
  }
  .coming-soon{
    .name,.icon{opacity: 0.3;}
  }
}
.main-right{
  width: calc(100% - 316px); padding: 30px 0 0;
  .des{margin: 0 auto; text-align: center; color: var(--gray);}
}
.devpn-s1{
  .title{margin-bottom: 48px;}
  .des{max-width: 426px; font-family: var(--ClashDisplayRegular);}
  .img-wrapper{
    width: 100%; max-width: 1100px; height: 729px; margin: 68px auto 0;
    background: url("#{$img-path}/grid.svg") no-repeat center center/contain;
    img{margin-top: -10px;}
  }
}
.devpn-s2{
  padding: 126px 0 0;
  .title{margin-bottom: 28px;}
  .des{max-width: 770px;}
  .dowload{
    margin: 44px auto 60px; max-width: 1228px;
    >*+*::before{
      content: "";
      width: 1px; height: 162px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 24.23%, rgba(255, 255, 255, 0.20) 72.53%, rgba(255, 255, 255, 0.01) 100%);
      position: absolute; left: 0; top: 50%; transform: translateY(-50%);
    }
    .item{width: 25%; padding: 0 60px; position: relative; text-align: center;}
    .name{margin: 18px 0 28px;}
    .icon{width: 64px; margin: 0 auto;}
    .btn-download{
      width: 187px; height: 44px; margin: 0 auto; max-width: 100%;
      background: url("#{$img-path}/btn.svg") no-repeat 0 0/100% 100%;
      color: #fff;
      span{transition: .3s;}
      &:hover span{color: var(--gray);}
    }
  }
}
.devpn-s3{
  padding: 100px 0;
  .country{
    position: relative;
    max-width: 1108px; margin: 0 auto;
    &::after,&::before{
      content: "";
      background: url("#{$img-path}/line-3.png") no-repeat 0 0/100% 100%;
      position: absolute; height: 100%; width: 1px; top: 0;
    }
    &::before{left: 33.3%;}
    &::after{left: 66.6%;}
    > div{position: relative;}
  }
  .grid{
    display: grid; grid-template-columns: repeat(3,1fr);
    position: relative;
    &::before,&::after{
      content: "";
      width: 100%; height: 1px;
      background: url("#{$img-path}/line-2.png") no-repeat 0 0/100% 100%;
      position: absolute;
    }
    &::before{top: 33.3%;}
    &::after{top: 66.6%;}
  }
  .item{padding: 34px 30px; position: relative;}
  .flag{margin-right: 16px; width: 48px;}
  .name{margin-right: 10px; font: 20px/32px var(--ClashDisplayMedium);}
  .status{
    padding: 0 13px;
    margin-left: auto;
    border-radius: 32px;
    border: 0.7px solid rgba(187, 255, 181, 0.51);
    background: linear-gradient(102deg, rgba(53, 178, 81, 0.38) 2.9%, rgba(69, 149, 67, 0.14) 71.74%);
    font-size: 12px; line-height: 20px;
    &::before{
      content: "";
      width: 3px; height: 3px;
      background: #fff; border-radius: 50%;
      display: block; margin-right: 6px;
    }
  }
}
.devpn-s4{
  margin-bottom: 40px;
  .title{margin-bottom: 60px;}
  .box-grid{width: 100%; max-width: 1032px; margin: 0 auto; overflow: auto;}
  .grid{grid-template-columns: repeat(3,1fr); grid-gap: 120px;}
  .item:last-child .step::after{display: none;}
  .step{
    margin: 12px 0 46px;
    &::before,&::after{
      content: ""; position: absolute;
    }
    &::before{
      width: 34px; height: 34px;
      background: url("#{$img-path}/dot-2.svg") no-repeat 0 0/contain; top: 33px; left: 0;
    }
    &::after{width: calc(100% + 120px); height: 1px; background: #fff; top: 50px; left: 10px;}
    span{margin-left: 44px; font: 32px/48px var(--ClashDisplayMedium);}
  }
  h4{margin-bottom: 16px; font: 20px/32px var(--ClashDisplayMedium);}
  p{color: var(--gray);}
}
.btn-stake{
  width: 228px; height: 50px; margin: 0 auto;
  border-radius: 14px;
  border: 0.7px solid rgba(143, 103, 255, 0.67);
  background: linear-gradient(102deg, #42298B 2.9%, #241945 71.74%);
  font-family: var(--ClashDisplayMedium);
  color: #fff;
  &:hover{@include hover; color: #fff;}
}
.btn-unstake{
  width: 228px; height: 50px; margin: 0 auto;
  border-radius: 14px;
  border: 0.7px solid rgba(207, 0, 37, 0.67);
  background: linear-gradient(102deg, rgba(207, 0, 37, 0.46) 2.9%, rgba(207, 0, 37, 0.17) 53.04%, rgba(207, 0, 37, 0.38) 101.27%);
  font-family: var(--ClashDisplayMedium);
  color: #fff;
  &:hover{@include hover;}
}
//stake
.stake{
  width: 65%;
  .title{margin-bottom: 28px;}
  .tab,.tab-content{max-width: 528px; margin: 0 auto;}
  .tab{
    margin-bottom: 48px; border-bottom: 1px solid #61606D; display: flex;
    li{width: 50%}
    li:nth-child(1) a.active{
      border-bottom: 1.5px solid #7444FF;
      background: linear-gradient(180deg, rgba(36, 25, 69, 0.00) 0%, rgba(89, 62, 171, 0.60) 100%);
    }
    li:nth-child(2) a.active{
      border-bottom: 1.5px solid #CF0025;
      background: linear-gradient(180deg, rgba(207, 0, 37, 0.00) 0%, rgba(207, 0, 37, 0.36) 100%);
    }
    a{padding: 10px; display: block; color: #fff; font: 20px/32px var(--ClashDisplayMedium); text-align: center;}
  }
  form > *+*::before{
    content: "";
    width: 100%; height: 1px;
    background: url("#{$img-path}/line-4.png") no-repeat 0 0/100% 100%;
    position: absolute; top: 0;
  }
  .form-group{
    padding: 15px 0; margin-bottom: 0; position: relative;
  }
  label{margin-bottom: 0; color: var(--gray);}
  input{
    margin-left: auto;
    background: none; border: none;
    font: 20px/32px var(--ClashDisplayMedium);
    color: #fff; text-align: right;
    &:focus{outline: none;}
  }
  .rurrency{width: 24px; margin-left: 10px;}
}
.package-info{
  width: 35%; max-width: 462px;
  padding: 24px 32px;
  border-radius: 32px;
  border: 0.7px solid #61606D;
  backdrop-filter: blur(20.950000762939453px);
  position: relative;
  &::after{
    content: "";
    width: 144px; height: 149px;
    background: #0F0F11 url("#{$img-path}/decor-1.svg") no-repeat 0 0/contain;
    position: absolute; top: 0; right: 0;
    opacity: .4;
    mix-blend-mode: color-dodge;
  }
  h4{max-width: 80%; margin-bottom: 5px; font: 20px/32px var(--ClashDisplayMedium); color: #fff;}
  ul{
    >*+*::before{
      content: "";
      width: 100%; height: 1px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 24.23%, rgba(255, 255, 255, 0.20) 72.53%, rgba(255, 255, 255, 0.01) 100%);
      position: absolute; top: 0;
    }
    li{padding: 24px 0; position: relative;}
    .yes{padding-right: 44px; color: var(--gray); background: url("#{$img-path}/on-1.svg") no-repeat right center;}
  }
}
.denhs{
  .title{margin-bottom: 48px;}
  .des{max-width: 426px; font-family: var(--ClashDisplayRegular);}
  .grid{
    margin: 84px 0 0;
    grid-template-columns: repeat(3,minmax(auto,268px)); grid-row-gap: 72px; grid-column-gap: 28px;
    place-content: center;
  }
  .nodes{
    margin: 84px auto 0; max-width: 888px;
    justify-content: center;
  }
  .item{
    width: 33.33%; max-width: 268px;
    padding: 1px;
    margin: 0 14px 72px;
    border-radius: 32px;
    background: linear-gradient(rgba(#fff,0) 2%,rgba(#fff,.2));
    .content{
      padding: 0 26px 32px; height: 100%;
      background: linear-gradient(#0F0F11,#121214);
      border-radius: 32px;
    }
    .logo{width: 60px; margin: 0 auto 26px;}
    h4{margin-bottom: 16px; font-family: var(--ClashDisplayMedium); color: #fff;}
    p{margin-bottom: 25px; min-height: 80px; line-height: 20px; color: var(--gray);}
    .coming-soon{
      width: 187px; max-width: 100%; height: 44px; margin: 0 auto;
      border-radius: 14px;
      border: 0.7px solid rgba(143, 103, 255, 0.67);
      background: linear-gradient(102deg, #42298B 2.9%, #241945 71.74%);
    }
  }
}

footer{
  padding: 52px 0 0;
  background: #0F0F11;
  position: relative;
  font-size: 16px; line-height: 24px;
  .logo{
    margin-bottom: 38px;
    img{width: 208px;}
  }
  .contract,.email{
    padding-left: 32px; color: #888D9A;
    a{color: #888D9A;}
  }
  .contract{margin-bottom: 24px; background: url("#{$img-path}/contract.svg") no-repeat left center;}
  .email{background: url("#{$img-path}/email.svg") no-repeat left center;}
  ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 48px;
    grid-column-gap: 144px;
    a{color: var(--gray);}
    a:hover{color: #fff;}
  }
  .social{margin-top: -30px;}
  .bottom{margin-top: 52px; padding: 30px 0; border-top: 1px solid #61606D; color: var(--gray);}
  .copyright{}
  h4{margin: 5px 0 48px; color: #fff; font-family: var(--ClashDisplayMedium);}
  a{display: inline-block; color: #F3F6FA; font-size: 16px; line-height: 18px;}
  a:hover{color: var(--cyan);}
}


//uikit
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.grid{display: grid;}
.container{max-width: 1470px; position: relative; z-index: 2;}
.social{
  >*+*{margin-left: vw(22px);}
  a{display: block; font-size: 0; width: 32px; height: 32px;}
  a:hover{filter: brightness(100%) drop-shadow(rgb(0, 132, 42) 0px 0px 10px) drop-shadow(rgb(0, 134, 105) 0px 0px 16px) drop-shadow(rgba(0, 232, 112, 0.8) 0px 0px 40px);}
  .telegram{background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .x{background: url("#{$img-path}/x.svg") no-repeat 0 0/contain;}
  .medium{background: url("#{$img-path}/linktree.svg") no-repeat 0 0/contain;}
  .dextools{background: url("#{$img-path}/linktree_1.svg") no-repeat 0 0/contain;}
}

.btn-pr{
  display: flex; align-items: center; justify-content: center;
  padding: 11px 27px;
  background: #fff;
  border-radius: 14px;
  color: #0F0F11;
  line-height: 20px;
  font-family: var(--ClashDisplayMedium);
  &.lg{
    padding: 12px 34px; font-size: 16px; line-height: 24px;
    .arrow-right{width: 26px; height: 26px; margin-left: 12px;}
  }
  .icon{width: 22px; height: 22px; margin-left: 8px; display: block;}
  .arrow-right{background: url("#{$img-path}/arrow-right.svg") no-repeat 0 0/contain;}
  .wallet{background: url("#{$img-path}/wallet-2.svg") no-repeat 0 0/contain;}
  &:hover{color: #0F0F11; background: #e4e9ed;}
}
.btn-sub{
  background: #5799E5;
  &:hover{background: #F3F6FA; color: #0047AB;}
}
.w-full{width: 100%;}

h2.title{color: #fff; font: 52px/76px var(--ClashDisplayMedium); text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}

.text-xs{font-size: 12px; line-height: 16px;}
.text-md{font-size: 16px; line-height: 24px;}
.text-lg{font-size: 18px; line-height: 28px;}
.text-xl{font-size: 24px; line-height: 36px;}
.text-cl-m{font: 20px/32px var(--ClashDisplayMedium);}
.font-bold{font-weight: 700;}
.font-semibold{font-weight: 500;}

button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}

.circles {
  height: 80px;
  position: absolute;
  width: 80px;
  top: -16px; left: -18px;

  > div {
    animation: growAndFade 4s infinite ease-out;
    background-color: #4ca5b7;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 1s;
  }
  .circle2 {
    animation-delay: 2s;
  }
  .circle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@keyframes light {
  0%{
    filter: saturate(1);
  }
  50%{
    filter: saturate(3.1);
  }
  100%{
    filter: saturate(1);
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50%{
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50%{
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}