@media (max-width: 1440px) {
  header{padding: 18px 0;}
  main{padding-top: 80px;}
  .navbar-nav{
    >*+*{margin-left: vw(80px);}
  }
  .deorbit-s1{
    h1{font-size: 68px; line-height: 1.5;}
    p{max-width: 416px;}
    .content{padding-top: vw(160px);}
  }
  .deorbit-s2{
    h3{margin-bottom: 20px;}
    .title{margin-bottom: 48px;}
    .content{padding: 14px 34px 56px;}
  }
  .deorbit-s4{
    padding-top: 100px;
    &::after{width: 1200px; height: 1200px; left: 50%;}
  }
  .deorbit-s5{
    .des{margin-bottom: 42px;}
    .title{margin-bottom: 24px;}
    .content{padding: 62px 15px 80px;}
  }
  .deorbit-s6{
    .title{margin-bottom: 62px;}
    .header p{font-size: 18px; line-height: 1.4;}
  }

  //category
  .main-right{
    padding-top: 10px;
    .title{font-size: 46px; line-height: 1.4;}
  }
  .devpn-s1{
    .title{margin: 0 auto 20px; max-width: 90%;}
    .img-wrapper{
      height: 598px; margin-top: 46px;
      img{width: 360px;}
    }
  }
  .devpn-s2{
    padding-top: 80px;
    .dowload{
      .item{padding: 0 20px;}
    }
  }
  .devpn-s3{
    .item{padding: 28px 16px;}
    .name{font-size: 16px; line-height: 24px;}
    .flag{margin-right: 10px;}
  }
  .devpn-s4{
    .grid{grid-gap: 50px;}
    .step::after{width: calc(100% + 50px);}
  }
  .denhs{
    .title{margin-bottom: 20px;}
    .des{max-width: 398px;}
  }

  .container{max-width: 1270px;}
  .text-xl{font-size: 22px; line-height: 30px;}
}
@media (max-width: 1280px) {
  .navbar-nav{margin-left: 60px;}
  .deorbit-s5{
    .map__content{

    }
  }
}


@media (max-width: 1024px) {
  header{
    padding: 10px 0;
    &::after{height: 74px;}
    &.scroll{padding: 8px 0;}
    .social{margin: 0 auto;}
    .navbar-toggle{display: block; position: absolute; right: 15px;}
    .btn-pr{margin: 30px auto 0;}
  }
  .navbar{
    width: 100%; padding: 0 15px; min-height: auto; justify-content: flex-start;
  }
  .home .navbar-collapse{background: #08010b;}
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: -100%; left: 0;
    width: 100%; height: auto;
    border-radius: 0 0 53px 53px;
    padding: 0 0 30px;
    background: #0F0F11;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    >*{opacity: 0;}
    &.show{
      top: 0;
      >*{opacity: 1;}
    }
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 80px 15px 30px;
    >*+*{margin: 30px 0 0;}
    > li{justify-content: center;}
    > li > a{line-height: inherit; padding: 0;}
    a{text-align: center; font-size: 16px;}
    .active::after{display: none;}
  }

  main{padding-top: 60px; overflow: hidden;}
  .deorbit-s1{
    .content{padding-top: vwm(60px);}
    h1{font-size: 56px;}
    img{min-height: vwm(320px); object-fit: cover;}
    .btn-pr{width: 180px; height: 46px; margin-top: 20px; border-radius: 12px;}
  }
  .deorbit-s2{
    .content{padding: 15px 15px 44px;}
  }
  .deorbit-s3{padding: 0 40px 46px;}
  .deorbit-s4{
    .item:nth-child(2){margin-top: 0;}
  }
  .deorbit-s5{
    padding-top: 50px;
    .content{padding: 62px 2vw 60px;}
    .box-map{
      width: 91.8vw;
      .map-content{
        .canada{
          width: 22.8vw; left: 7vw; top: 9vw;
          .flag{width: 10vw; top: -8.5vw; left: 15vw;}
        }
        .united{
          width: 26.3vw; top: 23.59vw;
          .flag{width: 13vw; top: -15vw; left: 2vw;}
        }
        .united1{
          width: 26.3vw; top: 23.59vw;
          .flag{width: 13vw; top: 15vw; left: 12vw;}
          .circles{top: 17vw;}
        }
        .united-kingdom{
          width: 3vw; left: 40.8vw; top: 30.5vw;
          .flag{width: 15vw; top: -8vw; left: -1vw;}
        }
        .australia {
          width: 12vw; right: 8vw; top: 52.5vw;
          .flag{width: 11vw; top: -7vw; left: 4vw;}
        }
      }
    }
  }
  .deorbit-s7{
    .content{height: auto; padding: vwm(20px) vwm(30px);}
  }
  .roadmap{grid-gap: 24px;}
  .circles {
    height: 5vw;
    position: absolute;
    width: 5vw;
    top: -0.4vw; left: -0.3vw;
  }

  //category
  .category{padding: 0 15px;}
  .sidebar{margin: 0 auto 36px; min-height: auto;}
  .main-right{width: 100%;}
  .devpn-s2{
    .item{}
  }
  .stake,.package-info{width: 100%;}
  .package-info{margin: 40px auto;}

  footer{
    ul{grid-column-gap: 44px;}
  }

  .btn-pr.lg{padding: 10px 24px;}
  h2.title{font-size: 46px; line-height: 1.4;}
}

@media (max-width: 820px) {

}

@media (max-width: 640px) {
  .deorbit-s1{
    &::after{background-size: cover;}
    img{min-height: 520px;}
    h1{font-size: 38px;}
    p{max-width: 340px;}
    .content{padding-top: 100px;}
  }
  .deorbit-s2{
    padding-bottom: 40px;
    .grid{grid-template-columns: repeat(1,1fr);}
    .item{border-radius: 36px; max-width: 90%; margin: 0 auto;}
  }
  .deorbit-s3{
    padding: 0 15px 30px;
    .title{margin: 30px 0;}
    .quote{
      &::before,&::after{width: 76px; height: 76px;}
      &::before{left: -10px;}
      .content{padding: 32px 0; font-size: 16px; line-height: 24px;}
    }
    .box-img{
      margin-bottom: 40px;
      video{width: 260px;}
    }
    .line--2{
      margin-left: 0;
      &::after{left: 40%;}
    }
  }
  .deorbit-s4{
    padding-top: 60px;
    h3{margin-bottom: 10px; font-size: 42px; line-height: 1.4;}
    .item:nth-child(1){flex-direction: column-reverse;}
    .item{flex-wrap: wrap; margin-bottom: 40px;}
    .item:nth-child(2) .media{margin: 0;}
    .media,.content{width: 100%; text-align: center;}
  }
  .deorbit-s5{
    .content{border-radius: 30px;}
    .box-map{
      .map-content{
        .united .flag{width: 15vw;}
        .united1 .circles{top: 15vw;}
      }
    }
  }
  .deorbit-s6{
    .header{
      h3{font-size: 32px; line-height: 1.4;}
      p{font-size: 16px;}
    }
  }
  .deorbit-s7{
    margin-bottom: 40px;
    .content{padding: 30px 20px; border-radius: 30px;}
    h2{font-size: 34px; line-height: 1.4;}
  }
  .circles {
    height: 9vw;
    position: absolute;
    width: 9vw;
    top: -1.9vw; left: -2.2vw;
  }
  .roadmap{
    grid-template-columns: repeat(1,1fr); grid-gap: 40px;
    ul li{padding: 20px 0;}
  }

  .main-right{
    .title{font-size: 34px;}
  }
  .category::after{background-size: cover;}
  .devpn-s1{
    .title{max-width: 100%;}
    .img-wrapper{
      height: inherit;
      img{width: 240px;}
    }
  }
  .devpn-s2{
    padding-top: 60px;
    .dowload{
      margin-bottom: 40px;
      .item{width: 50%; margin-bottom: 15px;}
      .item:nth-child(2n + 1)::before{display: none;}
    }
  }
  .devpn-s4{
    h4{font-size: 18px; line-height: 28px;}
    .grid{grid-gap: 20px; min-width: 630px;}
    .step::after{width: calc(100% + 20px);}
  }
  .devpn-s3{
    padding: 60px 0;
    .grid{
      grid-template-columns: repeat(1,1fr);
      &::before,&::after{display: none;}
      >*+*::before{
        content: "";
        width: 100%; height: 1px;
        background: url("#{$img-path}/line-2.png") no-repeat 0 0/100% 100%;
        position: absolute; top: 0;
      }
    }
    .country{
      &::before,&::after{display: none;}
    }
    .item{padding: 24px 16px;}
  }
  .denhs{
    .nodes{margin-top: 60px;}
    .item{width: 100%; margin-bottom: 50px;}
  }

  footer{
    .bottom{margin-top: 0px; padding: 24px 0; justify-content: center !important;}
    .logo{margin-bottom: 28px;}
    h4{margin-bottom: 28px;}
    ul{grid-row-gap: 20px;}
    .social{margin-top: 0;}
    .top > div{width: 100%; margin-bottom: 40px;}
    .copyright{margin-bottom: 15px; width: 100%;}
  }

  .text-xl{font-size: 20px;}
  .text-lg{font-size: 16px; line-height: 24px;}
  h2.title{font-size: 34px;}
}

